$black: #2e3440;
$black_light: #3b4252;
$gray_dark: #4c566a;
$gray: #434c5e;
$gray_light: #d8dee9;
$white: #d8dee9;
$silver: #d8dee9;
$silver_light: #e5e9f0;
$white_pure: #eceff4;

$red: #bf616a;
$orange: #d08770;
$green: #a3be8c;
$yellow: #ebcb8b;
$blue: #5e81ac;
$blue_light: #88c0d0;
$magenta: #b48ead;
$cyan: #8fbcbb;
